.horcrux_menu {
    position: absolute;
    z-index: 290;
}
.horcrux_menu.fixed_horcrux_menu {
    position: fixed;
}
.horcrux_menu .horcrux_menu_contents {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 5px #EEEEEE inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #333333;
    float: left;
    padding: 10px;
	width:100%;
}
.horcrux_menu .horcrux_menu_contents .horcrux_menu_contents_snippet {
    border-top: 1px solid #E0E0E0;
    clear: both;
    float: left;
    font-size: 1em;
    font-weight: normal;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-top: 5px;
    width: 100%;
}
.horcrux_menu .horcrux_menu_contents .aggregated_item {
    margin-bottom: 10px;
}
.horcrux_menu.horcrux_menu_wide .horcrux_menu_contents {
    width: 300px;
}
.horcrux_menu .horcrux_menu_nub {
    background: url("http://qsf.cf.quoracdn.net/-f5369c624463f0f6.png") no-repeat scroll 10px top transparent;
    height: 5px;
    position: relative;
    top: 1px;
    z-index: 202;
}
.horcrux_menu .horcrux_menu_nub.horcrux_menu_nub_down {
    background: url("http://qsf.cf.quoracdn.net/-deacbe037f57257f.png") no-repeat scroll 10px top transparent;
    clear: both;
    top: -1px;
}
.horcrux_menu h1
{
	font-size:18px;
	padding:4px;
}

}

.horcrux_menu_contents img
{
	width:100px;
	height:100px;
}

.horcrux_menu_contents h2
{
	font-size:16px;
	display:inline;
	margin-right:8px;
}

.horcrux_menu_contents li
{
	color:#aaaaaa;
	font-size:14px;
	padding:8px;
	font-weight:bold;
}

.horcrux_menu_contents div
{
	padding-top:8px;
	padding-right:8px;
}

.hidden
{
		display:none;
}